!!!5
%html{lang:'en'}
  %head
    %meta{charset: 'utf-8'}/
    %meta{content: 'ie=edge', 'http-equiv':'x-ua-compatible'}/
    %title
      =@title
    %meta{content: '', name:'description'}/
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}/

    = yield_content :meta

    = partial 'partials/head'

    %link{rel:'icon', href:'favicon.ico', type:'image/x-icon'}/

    %link{type:'text/plain', rel:'author', href:'/humans.txt'}/

  %body{class: @page_classes || page}

    /[if lt IE 8]
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>

    = partial 'partials/header'

    = partial 'partials/sidebar'

    = yield

    = partial 'partials/footer'





